.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    display: inline-flex;
    padding: 20px 20px 20px;
}
#outlined-basic{
    width:370px;
    margin-top:10px;
  }
  #outlined-select-currency{
    width:352px;
    margin-top:10px;
  }
  #outlined-number{
    width:370px
    
  }
  