.card{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    

}
.button{
    background-color: blue;
    color: white;
}
.mani{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    background-color: rgb(225, 223, 218)
}
.mani ul li  {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    display: inline;
    margin: 20px 20px;
    

}

.delete-btn{
    margin-left: 5px;
}

.btn{
    text-align: center;
}